<h2>Контакты</h2>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
  	<label>Ваш Email</label>
    <input name="email" type="text" class="form-control" placeholder="Введите ваш Email">
  </div>
    <div id="emailHelp" class="form-text">Мы никогда не передадим ваш адрес электронной почты кому-либо еще.</div>

  <button type="submit" class="btn btn-primary">Записать</button>
</form>